shoggoth/kestra/flows/main_shoggoth_redmine-task-processor.yml
id: redmine-task-processor
namespace: shoggoth
#disabled: true

#triggers:
#  - id: schedule
#    type: io.kestra.plugin.core.trigger.Schedule
#    cron: "0 * * * *"
#    allowConcurrent: false

tasks:
  - id: list_tasks
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      volumes:
        - "{{ envs.shoggoth_root }}/private/env:/shoggoth/env"
        - "{{ envs.shoggoth_root }}/private/resolv.conf:/etc/resolv.conf"
        - "{{ envs.shoggoth_root }}/scripts:/shoggoth/scripts"
      pullPolicy: ALWAYS
    containerImage: docker-registry.shoggoth.local/slave_noble:latest
    networkMode: host
    commands:
      - bash /shoggoth/scripts/redmine-task-list.sh
    env:
      SHOGGOTH_ENV: "/shoggoth/env"

  - id: print
    type: io.kestra.plugin.core.log.Log
    message: "{{ outputs.list_tasks }}"

  - id: process_tasks
    type: io.kestra.plugin.core.flow.EachParallel
    value: "{{ outputs.list_tasks.exitCode == 0 ? outputs.list_tasks.vars.task_ids : [] }}"
    tasks:
      - id: process_task
        type: io.kestra.plugin.core.flow.Subflow
        namespace: shoggoth
        flowId: coding-agent-dispatcher
        wait: true
        transmitFailed: true
        inputs:
          script: "/shoggoth/scripts/redmine-task-processor.sh"
          task_id: "{{ taskrun.value }}"
